$white: #f5f5f5;
$black: #000;
$orange: #fe2e05;
$gradient-button: linear-gradient(to bottom, #ad2d14, #f42e07);
$yellow: #e9b425;
$gray-100: #c6c8cc;
$gray-200: #a1a3a7;
$gray-300: #75767d;
$gray-500: #6b7094;
$gray-600: #2e2f36;
$gray-650: #27282f;
$gray-700: #1e1f23;
$gray-900: #17181c;
$gradient-background: linear-gradient(to bottom, $gray-600, $gray-900);
