@use "sass:map";

$sizes: (
  "xxxxs": 4px,
  "xxxs": 6px,
  "xxs": 12px,
  "xs": 16px,
  "sm": 19px,
  "md": 20px,
  "lg": 24px,
  "xl": 28px,
  "xxl": 32px,
  "xxxl": 42px,
  "xxxxl": 48px,
);
$screen-sizes: (
  "tablet": 900px,
);

@mixin box($size) {
  inline-size: map.get($sizes, $size);
  block-size: map.get($sizes, $size);
}

@mixin screen($size) {
  @media screen and (min-width: map.get($screen-sizes, $size)) {
    @content;
  }
}

@function size($size) {
  @return map.get($sizes, $size);
}
