@use "fonts" as f;

@mixin input() {
  font-family: f.$font-poppins;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

@mixin button() {
  font-family: f.$font-poppins;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

@mixin formtitle() {
  font-family: f.$font-poppins;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
