@use "fonts" as f;

@mixin poppins() {
  font-family: f.$font-poppins;
  font-style: normal;
  line-height: normal;
}

@mixin inter() {
  font-family: f.$font-inter;
  font-style: normal;
  line-height: normal;
}
