@use "colors" as *;
@use "sizings" as *;

/* stylelint-disable */
:export {
  white: $white;
  black: $black;
  orange: $orange;
  gradientButton: $gradient-button;
  gray200: $gray-200;
  gray300: $gray-300;
  gray600: $gray-600;
  gray650: $gray-650;
  gray700: $gray-700;
  gray900: $gray-900;
  gradientBackground: $gradient-background;
  xxxxs: $xxxxs;
  xxxs: $xxxs;
  xxs: $xxs;
  xs: $xs;
  sm: $sm;
  md: $md;
  ls: $ls;
  xl: $xl;
  xxl: $xxl;
  xxxl: $xxxl;
  xxxxl: $xxxxl;
}
/* stylelint-enable */
