@use "@styles/colors" as c;
@use "@styles/sizings" as s;

.page {
  display: flex;
  gap: 36px;
  padding: 12px;

  @include s.screen("tablet") {
    padding: 36px;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 100%;

  @include s.screen("tablet") {
    inline-size: 75%;
  }
}

.side {
  display: none;
  inline-size: 25%;
  right: 36px;

  @include s.screen("tablet") {
    display: flex;
  }
}
