@use "@styles/colors" as c;
@use "@styles/sizings" as s;

.page {
  display: flex;
  gap: 36px;
  padding: 12px;

  @include s.screen("tablet") {
    padding: 36px;
  }
}

.posts {
  flex-basis: 100%;

  @include s.screen("tablet") {
    flex-basis: 75%;
  }
}

.side {
  display: none;
  flex-basis: 25%;
  right: 36px;

  @include s.screen("tablet") {
    display: flex;
  }
}
