@use "@styles/sizings" as s;
@use "@styles/colors" as c;
@use "@styles/typography" as t;

.post {
  @include t.poppins;

  display: flex;
  flex-direction: column;
  padding-block: s.size("xs");
  padding-inline: s.size("xs");
  gap: s.size("xs");
  color: white;
  font-size: 0.75rem;
  border-radius: s.size("xs");
  border: 2px solid c.$gray-600;
  background: c.$gray-700;

  > img {
    margin-inline: - s.size("xs");
    inline-size: calc(100% + 2 * s.size("xs"));
    object-fit: cover;
    object-position: center;
  }
}

.author {
  @include t.poppins;

  font-size: 0.875rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: s.size("xs");
}

.author-image {
  @include s.box("xxl");
}

.date {
  display: flex;
  color: c.$gray-300;
  align-items: center;
  font-size: 0.75rem;
  gap: s.size("xxxs");

  svg {
    block-size: 0.75rem;
  }

  span {
    font-weight: 500;
    color: white;
  }
}

.interactions {
  display: flex;
  justify-content: space-between;
}

.comments {
  @include t.poppins;

  font-size: 0.75rem;

  &,
  ul {
    display: flex;
    gap: s.size("xs");
    flex-direction: column;
  }

  ul {
    overflow: hidden;
  }
}

.comments-button {
  @include t.poppins;

  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  padding-block: s.size("xs");
  margin-block: s.size("xs") calc(0px - s.size("xs"));
  border-block-start: 2px solid #27282f;
  color: c.$yellow;
  font-size: 0.875rem;
  font-weight: 500;
}
