@use "@styles/colors" as c;
@use "@styles/sizings" as s;

.page {
  display: flex;
  background: c.$gray-900;
  gap: 36px;
  padding: 36px;
}

.posts {
  inline-size: 100%;

  @include s.screen("tablet") {
    inline-size: calc(73%);
  }
}

.side {
  display: none;
  inline-size: calc(25% - 36px);
  position: fixed;
  right: 36px;

  @include s.screen("tablet") {
    display: block;
  }
}
