@use "@styles/colors" as c;
@use "@styles/sizings" as s;
@use "@styles/typography" as t;
@use "sass:map";

.layout {
  background: c.$gradient-background;
  block-size: 100%;
  display: flex;
}

.form-container {
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: map.get(s.$sizes, "lg");
  flex: 1;

  > div {
    max-inline-size: 400px;
    display: flex;
    flex-direction: column;
    gap: map.get(s.$sizes, "lg");
  }
}

.image-container {
  display: none;
  block-size: 100%;
  position: relative;

  @include s.screen("tablet") {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }
}

.laptop {
  object-fit: cover;
  object-position: center;
  position: absolute;
  max-block-size: 100%;
  max-inline-size: 100%;
}

.compass {
  position: absolute;
  block-size: auto;
  inline-size: 330px;
}

.link {
  @include t.poppins;

  margin: 0;
  color: white;
  text-align: center;
  font-size: 1rem;

  > button {
    all: unset;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }
}
