@use "@styles/colors" as c;
@use "@styles/sizings" as s;
@use "@styles/typography" as t;

.button {
  padding-inline: s.size("lg");
  padding-block: s.size("xs");
  inline-size: 100%;
  border: none;
  color: c.$white;
  border-radius: 46px;

  @include t.poppins;

  font-size: 1rem;
  font-weight: 600;
}

.primary {
  background: c.$gradient-button;
  transition: color 100ms ease;

  &:hover {
    color: c.$gray-900;
  }
}

.secondary {
  background: c.$gradient-background;
  transition: color 100ms ease;

  &:hover {
    color: c.$orange;
  }
}
