@use "@styles/typography" as t;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    @include t.poppins;

    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin: 0;
    padding-inline: 8px;
  }
}
