@use "@styles/typography" as t;
@use "@styles/colors" as c;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    @include t.poppins;

    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin: 0;
    padding-inline: 8px;
  }
}

.message {
  @include t.poppins;

  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  color: c.$yellow;
  text-align: center;
  margin: 0;
}
