@use "@styles/sizings" as s;

.list {
  display: flex;
  flex-direction: column;
  gap: s.size("lg");
  inline-size: 100%;
}

.empty {
  justify-content: center;
  align-items: center;
  padding: s.size("lg");
  color: white;
}
