@use "@styles/sizings" as s;
@use "@styles/typography" as t;

.comment {
  @include t.poppins;

  display: flex;
  gap: s.size("xs");
  font-size: 0.625rem;
  color: #d9d9d9;

  a {
    font-size: 0.75rem;
    color: #d9d9d9;
    text-decoration: none;
    cursor: pointer;
  }
}

.author-image {
  @include s.box("lg");

  min-inline-size: s.size("lg");
}
